html,
body {
	height: 100%;

	font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 13px;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container-extended {
	padding: 35px 15px 20px;
	width: 100%;
}

.wrap > .container {
	padding: 70px 15px 20px;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 5px;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view td {
	white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
	min-width: 50px;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
	padding: 15px;
	border: none;
}

@media (max-width: 767px) {
	.nav li > form > button.logout {
		display: block;
		text-align: left;
		width: 100%;
		padding: 10px 15px;
	}
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
	text-decoration: none;
}

.nav > li > form > button.logout:focus {
	outline: none;
}

.nav > li > a {
	font-weight: bold;
}

.table-bordered > tbody > tr > td, .company-list-name {
	vertical-align: middle;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 1;
	color: #000;
}

.loading-widget {
	top: 0;
	left: 0;
	position: fixed;
	background: #a4a4a4 url('/images/loading2.svg') center center no-repeat;
	opacity: .6;
	width: 100%;
	height: 100%;
	z-index: 99999;
}

.ringing-call-widget {
	top: 0;
	left: 0;
	position: fixed;
	color: #fff;
	background-color: #2f69a4;
	opacity: .7;
	width: 100%;
	height: 100%;
	z-index: 99999;
}

.search-form {
	position: fixed;
	background-color: #c7c9cb;
	border: 1px #e7e7e7 solid;
	width: 100%;
	padding: 10px 20px 0px 20px;
	bottom: 0px;
	z-index: 10;
	left: 0px;
	color: #000;
	font-weight: bolder;
	opacity: 0.8;
}

.search-form:hover {
	opacity: 1;
}

.result-table {
	margin-bottom: 50px;
}

.navbar-default {
	background-color: #c7c9cb;
	color: #000;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #c7c9cb;
}

tr.selected td {
	font-weight: bolder;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th {
	border: 1px #f6f0f0 solid;
	font-size: 13px;
	background-color: #dedff5;
	letter-spacing: 1px;
	line-height: 1;
}

.form-control {
	color: #000;
}

.select2-container--krajee .select2-selection--single .select2-selection__rendered {
	color: #000;
}

.search-menu {
	position: fixed;
	padding: 5px 0px 5px 0px;
	background-color: #c7c9cb;
	border: 1px #e7e7e7 solid;
	bottom: 110px;
	border-top-right-radius: 10px;
	z-index: 10;
	left: 0px;
	color: #000;
	font-weight: bolder;
	opacity: 0.8;
}

.search-menu:hover {
	opacity: 1;
}


.search-menu a {
	display: inline-block;
	padding: 0 20px;

}

.search-menu a.active {
	color: #000;
	text-decoration: underline;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 5px;
	padding-left: 5px;
}

.select2-container--krajee .select2-selection {
	font-size: 12px;
}

.form-control {
	font-size: 12px;
}

.navbar-default {
	opacity: 0.8;
}

.navbar-default:hover {
	opacity: 1;
}

.navbar > .container .navbar-brand {
	margin-top: -15px;
}

.colored-tbl {
	border-collapse: separate;
	border: none;
}

.green-tr td {
	border-top: 2px #00ff00 solid !important;
	border-bottom: 1px #00ff00 solid !important;
}

.red-tr td {
	border-top: 2px #dd1e26 solid !important;
	border-bottom: 1px #dd1e26 solid !important;
}

.black-tr td {
	border-top: 2px #000 solid !important;
	border-bottom: 1px #000 solid !important;
}

.left-cell-red {
	border-left: 2px #dd1e26 solid !important;
}

.right-cell-red {
	border-right: 2px #dd1e26 solid !important;
}

.left-cell-green {
	border-left: 2px #00ff00 solid !important;
}

.right-cell-green {
	border-right: 2px #00ff00 solid !important;
}

.left-cell-black {
	border-left: 2px #000 solid !important;
}

.right-cell-black {
	border-right: 1px #000 solid !important;
}
.open-news-link{
	font-weight: bold;
	position: fixed;
	z-index: 999;
}

.orange-btn {
	animation:blinking 2s infinite;
	border-color: #b77619;
}
.green-btn {
	animation:blinking-green 2s infinite;
	border-color: #00a929;
}

@keyframes blinking {
	0% {
		background-color: #ec971f;
	}
	50% {
		background-color: #fff;
	}
	100% {
		background-color: #ec971f;
	}
}
@keyframes blinking-green {
	0% {
		background-color: #18ec5a;
	}
	50% {
		background-color: #fff;
	}
	100% {
		background-color: #18ec5a;
	}
}
.form-group{
	margin-bottom: 0px;
}