ul {
	&.search-result-list {
		li {
			a {
				color: #292929;
				margin-top: 5px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.search-input {
	margin-top: 12px;
	padding: 15px 5px 15px 5px;
	width: 100%;
	color: #000 !important;
}

.swiper-slide {
	cursor: pointer;
}

div .company-item {
	padding: 15px 10px 15px 10px;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #e6e6e6;

	&:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
}

.table.price {
	color: #000;
	font-size: 1.5rem;
}

.category {
	a {
		font-size: 1.5rem !important;
	}
}

.category-block {
	padding: 26px 16px 20px 20px;
	border: 1px solid #e4e7ea;
	border-radius: 3px;

	a {
		color: #0052c2;
	}
}