.table-resizable {
	&.resizing {
		cursor: col-resize;
		user-select: none;
	}

	th {
		position: relative;

		// Show resize curson when hovering over column borders
		&::before {
		
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 1em;

		}

		&:last-of-type::before {
			display: none;

		}
	}

	// Add `th` to the selector below to allow shrinking a column all the way
	td {
		max-width: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

	}
}